{% extends 'base_generic.html' %}
<style>
    /* Message Container */
    .message {
        margin-bottom: 10px;
    }

    /* Sent Messages */
    .message.sent .message-content {
        text-align: right;
    }

    .message.sent {
        background-color: #d1e7dd; /* Light green background for sent messages */
        border-radius: 10px;
        padding: 10px;
        margin-left: 50px; /* Indent for sent messages */
    }

    /* Received Messages */
    .message.received .message-content {
        text-align: left;
    }

    .message.received {
        background-color: #f8d7da; /* Light red background for received messages */
        border-radius: 10px;
        padding: 10px;
        margin-right: 50px; /* Indent for received messages */
    }

    /* Message Content */
    .message-content p {
        margin: 0;
    }

    /* Styling for Timestamp */
    .message-content small {
        display: block;
        color: #888;
    }
</style>

{% block content %}
    <div class="container">
        <br>
        <div class="card">
            <div class="card-header">
                <h2>Chat with {{ chat_user.first_name }} {{ chat_user.last_name }}</h2>
            </div>
            <div class="card-body">
                {#                <div class="chat-box">#}
                {% for message in messages %}
                    <div class="message {% if message.from_user == request.user %}sent{% else %}received{% endif %}">
                        <div class="message-content">
                            <p>
                                <strong>{{ message.from_user.first_name }} {{ message.from_user.last_name }}:</strong> {{ message.content }}
                            </p>
                            <small>{{ message.timestamp|date:"F j, Y, g:i a" }}</small>
                        </div>
                    </div>
                {% empty %}
                    <p>No messages yet. Start the conversation!</p>
                {% endfor %}
                {#                </div>#}
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="content">New Message</label>
                <textarea id="content" name="content" class="form-control" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
        </form>
        <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Back to Chats</a>
    </div>
    <script>
        $('#content').on('input', function () {
            var input = $(this);
            if (input.val().length > 0) {
                input.removeClass("is-invalid").addClass("is-valid");
            } else {
                input.removeClass("is-valid").addClass("is-invalid");
            }
        });
    </script>
{% endblock %}
